<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">HCD</a> -->
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="tool">ECG Tool</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <center>
  <h3><b>SIMPLIFYING ECG ANALYSIS AND HEART CONDITION <br>DETECTION</b></h3>
  <br>
  <h5><i>A project report submitted in partial fulfillment of the requirements for the degree <br>of</i></h5>
  <br>
  <h4><b>MASTER OF TECHNOLOGY (M. TECH)<br>OF<br>TEZPUR UNIVERSITY<br><br>2021<b></4>
  <br><br><br>
  <img src="static/logo.jpg" alt="logo">
  <br>
  <h5><i>Submitted by</i></h5>
  <h5><b>HIMANGSHU SHEKHAR SAIKIA (CSE20005)</b></h5><br><br>

  <h5><i>Guided by</i></h5>
  <h5><b>MR. L. BASANTKUMAR SINGH</b></h5>
  <h5>ASSISTANT PROFESSOR</h5>

  <br><br><h4><b>
    DEPARTMENT OF COMPUTER SCIENCE & ENGINEERING
    <br>TEZPUR UNIVERSITY
    <br>TEZPUR 784028
    <br>ASSAM.
  </b></h4>


  </center>
</div>

</body>
</html>
