<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">HCD</a> -->
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="tool">ECG Tool</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
  <center><h1>Heart condition detection using ECG data</h1></center>
  <div class="form-group">
    <form action = "/success" method = "post" enctype="multipart/form-data">
      <label for="name">Name :</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">

      <label for="height">Height(cm) :</label>
      <input type="text" class="form-control" id="height" name="height" placeholder="Enter your height">

      <label for="weight">Weight(kg) :</label>
      <input type="text" class="form-control" id="weight" name="weight" placeholder="Enter your weight">

      <div class="form-group">
      <label for="gender">Gender :</label>
      <select class="form-control" id="gender" name="gender">
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
      </div>

      <label for="formFile" class="form-label">Select the ECG file(.csv)</label>
      <input class="form-control" type="file" name ="file" id="formFile"><br>

      <center><button type="submit" value="Upload" class="btn btn-default">Submit</button></center>
    </form>
  </div>
</div>
</body>
</html>
